main {
  display: flex;
  justify-content: center;
}

table {
  margin-top: 32px;
  border-collapse: collapse;
}

table td,
table,
th {
  padding: 4px 12px;
  border: 1px solid black;
}

.out-of-stock {
  color: red;
}
